.remaining__images {
    position:relative;
    width:250px;
    height:250px;
    margin:10px;
}

.remaining__images > img {
    width:100%;
    height:100%;
}  

@media screen and (max-width:570px) {
    .remaining__images {
        width:420px;
        height:400px;
    };
}